body{
    color: #e2d4ba;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
    color: gray;
    width: 20%;
}
h5{
    display: flex;
    justify-content: center;
    color: dimgrey;
    width: 20%;
}

#contact{
    background-color: #000009 ;
    color: #e2d4ba;
    width: 300px;
   font-size: 40px;
   box-shadow: 5px 5px 5px #001524;
   padding: 0px;
}

#find{
    color: #e9e9f0;
    display: flex;
    justify-content: center;
    text-align: center;
   flex-direction: column;
}
#find ul{
    border: none;
    background: dimgrey;
}


#skillsList{
    color: grey;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 50%;
    flex-wrap: wrap;
    border: 2px solid black;
   
    font-size: 18pt;

    }

    #skillsList li{
       display: flex;  
       justify-content: space-between;
       width: 225px;
       position: relative;
       margin: 2rem;

    }
   

p{
    color: grey;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 40%;
    font-size: 16pt;
    border: 2px solid black;
}

.spacer{
    width: 100%;
    height: 700px;
}

#spacer1{
    width: 100%;
    height: 500px;
}
#spacer2{
    width: 100%;
    height: 700px;
}
#spacer3{
    width: 100%;
    height: 700px;
}
#contactList li{
    font-size: 25px;
}
#link{
    font-size: 35px;
}
html {
    scroll-behavior: smooth;
  }
  #hiscroll{
    position: relative;
    top: 0px;
  }

  .projectpic{
    height: 15rem;
    width: 30rem;

  }

  .project_card{
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 2px solid black;
   margin: 5rem;
  }

  .prohead{
    color: gray;
  }
  .project_description{
    width: 80%;
    border: none;
  }
  .navSpace{
    width: 100%;
    height: 4rem;
  }